.first {
	background-image: url(../image/nature.jpeg);
	background-repeat: no-repeat;
	height: 657px;
}
.sml { font-size: 15px; }
.ssml { font-size: 13px; color: #f8b8cb;}
.pad { padding-top: 20px; }
.para { color: #fce4eb; font-size: 18px; }
.first-span {
	font-size: 35px;
	color: white;
}
.menu { 
	width: 100%;
	position: fixed;
	top: 0; 
	z-index: 2;
	height: 80px;
	border-bottom: solid 1px white;
}
.margint { margin-top: 20px; }
.marginl { margin-left: 10px; }
.center{ text-align: center; }
.alink {
	text-decoration: none;
	color: #ffffff;
	font: 19px Roboto; 
}
.link {
	text-decoration: none;
	color: white;
	font: 19px Roboto; 
}
.firtst-page-content { 
	padding-top: 200px; 
	color: white;
}
.tophead { 
	font-size: 48px;
	padding: 0 20px;; 
	font-weight: bolder;
	margin-bottom: 10px;
}
.description {
	font-size: 17px;
	padding: 0 50px;
}
.btn {
	width: 150px;
	border-radius: 50px;
	height: 45px;
}
.btn-danger { 
	background-color: #e81050; 
	border-color: #e81050; 
	margin-top: 50px; 
}
.btn-danger:hover {
	background-color: white;
	color:#e81050;
}
.btn-secondary { 
	background-color: #505288; 
	border-color: #505288; 
	margin-top: 20px; 
}
.grid1 { 
	background-image: url(../image/grid1.jpg); 
	height: 700px; 
	margin-top: 90px;
}
.par {
	font-size: 18px;
}
.create{ 
	background-color: #e81050;
	margin-top: 350px;
	height: 440px;
	color: white;
	padding: 40px;
}
.grid2 { margin-top: 180px; }
.heading { 
	color: #e81050; 
	font-size: 40px; 
}
.col { padding: 0; }
.designation {	
	color: #808080; 
	font-size: 15px;
	margin-left: 16px; 
}
.pic { width: 100% }
.hide {
	display: none;
	width: 45px;
	position: absolute;
	bottom: 89px;
	background: #e81050;
	z-index: 1;
}
.h2	{ 
	font-size: 23px; 
	margin: 16px 0 8px 16px; 
}
.hideicn { font-size: 15px; margin: 13px; color: white;}
.image { position: relative; background-color: #f0f0f0; margin-right: 30px;}
.image:hover .hide { display: block; }
.imagerow { margin-top: 70px; }
.box {
	z-index: 1;
	border-radius: 7px;
	padding: 20px 20px 20px 35px;
	top: -37px;
	background: #e81050;
}
.box1 {
	z-index: 1;
	border-radius: 7px;
	padding: 20px;
	top: -37px;
	background: #e81050;
}
.desi {
	font-size: 20px;
	color: #808080;
}
.marqbtn { 
	padding: 10px; 
	text-align: center;
}
a { color: white; }
.img21 { height: 350px;}
.red { color: #e81050; }
.padl-50 { padding-left: 100px; }
.para { color: #5d5d5d; font-size: 16px; }
.readmore { margin-top: 10px; }
.para1 { color: #808080; font-size: 17px;  }
.num{ color: #bc0554; size: 25px; }
.head {	font-size: 30px;}
.service { 
	background-color: #f8f9fa; 
	border-bottom: solid 1px #dee2e6;
}
.icon {
	font-size:40px;
	color: #e81050;
}
.innercntnr {
	display: grid;
	grid-gap: 20px;
	margin-right: 50px;
	grid-template-columns:50px auto; 
}
.service-para {
	color:#66686b; font-size: 18px;
}
.learn-more {
	color: #e81050; font-size:17px;
}
.padding_b{ padding-bottom: 70px; }
.test_p {
	color: #808080;
	font-size: 1.5rem;
    font-style: italic;
    text-align: center; 
}
.author {
	margin-left: 20px;
	border-radius: 50%;
	height: 60px;
	float: left;
}
.auther-name { 
	font-size: 18px; 
	margin-top: 16px; 
	color: #808080;
}
.medtext {	
	font-size: 16px; 
	color: #808080;
	padding-right: 50px;
}
.smallhead { 
	font-size: 20px; 
	color: #808080;
}
.img22 { height: 300px; }
.blogmargin { margin-top: 200px; }
.blogimage {
	width: 100%;
}
.blogbody {
	margin-right: 50px;
}
.p20 { font-size: 20px; font-weight: bold; }
.time {
	color: #b3b3b3;
	font-size: 14px;
}
.small {
	width:  90%;
	height: 40px;
	border-radius: 50px;
	border: solid 1px #66686b;
	padding-left: 20px;
}
.large {
	width:  97%;
	height: 40px;
	border-radius: 50px;
	border: solid 1px #66686b;
	padding-left: 20px;
}
label { font-size: 20px; }
textarea { 
	border-radius: 30px;  
	border: solid 1px #66686b; 
	padding: 15px;
	font-size: 15px;
	width: 97%;
	padding-left: 20px;
}
.send { margin-top: 35px; }
.white { background-color: white; padding: 20px; }
.marginl20 { margin-left: 50px; height: 40%; }
.contact{
	font-size: 16px;
}
.contacthead {
	font-size: 16px;
	color: #808080;
	font-weight: bold;
}
.black { background-color: #333333; }
.footpara { 
	color: #737373;
	font-size: 16px;
	margin-top: 16px;
}
.foothead {  
	color: white;
	margin-top: 124px;
	font-size: 16px;
}
.foothead1 {  
	color: white;
	margin-top: 24px;
	font-size: 16px;
}
.footinput {
	border-radius: 50px 0 0 50px;
	width: 200px;
	height: 40px;
	background-color: #333333;
	border: solid 1px #66686b;
	border-right: solid #333333;
	padding-left: 10px;
}
.footbtn {
	height: 40px;
	background-color: #e81050;
	font-size: 20px;
	border-color: #e81050;
	color: black;
	padding: 0 20px 0 20px;
	border-radius: 0 25px 25px 0;
}
.footicn { 
	margin-right: 30px; 
	color: #66686b;
}
.marginleft { margin-left: 29px; }
.foot {
	width: 100%;
	border-top: 1px solid white;
	color: #737373;
	margin-top: 100px;
}
